<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dapeng.ces.mapper.UserScoreGroupMapper" >
  <resultMap id="BaseResultMap" type="com.dapeng.ces.model.UserScoreGroup" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="gene_uuid" property="geneUuid" jdbcType="VARCHAR" />
    <result column="score_group_uuid" property="scoreGroupUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, user_id, gene_uuid, score_group_uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_score_group
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <select id="selectAllUserScoreGroup" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from score_group
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_score_group
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="delete" parameterType="java.lang.String" >
    delete from user_score_group
  </delete>
  <insert id="insert" parameterType="com.dapeng.ces.model.UserScoreGroup" >
    insert into user_score_group (uuid, user_id, gene_uuid, 
      score_group_uuid)
    values (#{uuid,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{geneUuid,jdbcType=VARCHAR}, 
      #{scoreGroupUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dapeng.ces.model.UserScoreGroup" >
    insert into user_score_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="geneUuid != null" >
        gene_uuid,
      </if>
      <if test="scoreGroupUuid != null" >
        score_group_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="geneUuid != null" >
        #{geneUuid,jdbcType=VARCHAR},
      </if>
      <if test="scoreGroupUuid != null" >
        #{scoreGroupUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dapeng.ces.model.UserScoreGroup" >
    update user_score_group
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="geneUuid != null" >
        gene_uuid = #{geneUuid,jdbcType=VARCHAR},
      </if>
      <if test="scoreGroupUuid != null" >
        score_group_uuid = #{scoreGroupUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dapeng.ces.model.UserScoreGroup" >
    update user_score_group
    set user_id = #{userId,jdbcType=VARCHAR},
      gene_uuid = #{geneUuid,jdbcType=VARCHAR},
      score_group_uuid = #{scoreGroupUuid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>